.DS_Store
*.docx
Sarthak Guleria.pdf
Sarthak . _ LinkedIn.pdf
Recommendations _ Sarthak . _ LinkedIn.pdf
Corporate Resume*.pdf
Corporate Resume*.docx
jakes tempelate .docx
Screenshot*.png
guided_map_website_content_build_prompt.md
